@model List<Category>
@*@model IEnumerable<NWEEI.Models.FAQ>*@

@{
    ViewData["Title"] = "FAQs";
}


@if (User.IsInRole("Admin"))
{
    <div class="content-header">
        <h1>Frequently Asked Questions</h1>

        <span class="admin-action-button btn btn-primary">
            <a asp-action="Create">Add FAQ</a>
        </span>
    </div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Question
                </th>
                <th>
                    Answer
                </th>
                <th>
                    Published
                </th>
                <th>
                    Featured
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            foreach (var item in Model)
            {
            <tr>
                <td>
                    Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.IsPublished)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.Featured)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.FAQID">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.FAQID">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.FAQID">Delete</a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="content-header">
        <h1>Frequently Asked Questions</h1>
    </div>

    // loop through each category and display FAQs
    @foreach (var item in Model)
    {
        <div class="faq-section-container">
            <h3 class="p-2">@item.Name</h3>
            <div class="container">
                @foreach (var faq in item.FAQs)
                {
                    <div class="faq">
                        <div>@faq.Question</div>
                        <div>@Html.Raw(faq.Answer)</div>
                    </div>
                }
            </div>
        </div>
    }
}
