@model NWEEI.ViewModels.AppUserViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>User Settings</h1>

<p>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Admin Access</th>
            <th>Editor Access</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AppUser user in Model.Users)
          {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @foreach (string rolename in user.RoleNames)
                          {
                            <div>@rolename</div>
                          }
                    </td>
                    <td>
                        @if (!user.RoleNames.Contains("Admin"))
                          {
                                <form method="post" asp-action="AddToAdmin" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-success">Add</button>
                                </form>
                          }
                        @if (user.RoleNames.Contains("Admin"))
                          {
                                <form method="post" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                          }
                    </td>
                    <td>
                        @if (!user.RoleNames.Contains("Editor"))
                          {
                                <form method="post" asp-action="AddToEditor" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-success">Add</button>
                                </form>
                          }
                        @if (user.RoleNames.Contains("Editor"))
                          {
                                <form method="post" asp-action="RemoveFromEditor" asp-route-id="@user.Id">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                          }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                    </td>
                </tr>
          }
    </tbody>
</table>
