@model NWEEI.Models.PaymentOption

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Index" data-btn-list></a>
<h1 class="text-center">Payment Options</h1>
<h4 class="text-center">Details: @Model.Option</h4>

<div class="row justify-content-center">
    <div class="col-auto"> 
        <dl class="row">
            <dt class = "col-auto">
                @Html.DisplayNameFor(model => model.Option)
            </dt>
            <dd class = "col-auto">
                @Html.DisplayFor(model => model.Option)
            </dd>
        </dl>
        <div class="d-flex justify-content-center">
            <a asp-action="Edit" asp-route-id="@Model.PaymentOptionID" data-btn-edit></a> 
            <a asp-action="Delete" asp-route-id="@Model.PaymentOptionID" data-btn-delete></a> 
        </div>
    </div>
</div>
