@model List<Article>

@{
    ViewData["Title"] = "Articles";
}

<div class="custom-breadcrumb">
    <a asp-controller="Category" asp-action="Index">
        <span class="breadcrumb-icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <span class="breadcrumb-name">Back to Categories</span>
    </a>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="content-header">
        <h1>@Model[0].Category.Name Articles</h1>

        <span class="admin-action-button btn btn-primary">
            <a asp-action="Create">Add Article</a>
        </span>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="title">Article Title</th>
                <th class="text-center">Date Created</th>
                <th class="text-center">Published</th>
                <th class="text-center">Featured</th>
                <th class="text-center">Views</th>
                <th class="text-center">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="title">
                        <a asp-action="Details" asp-route-id="@item.ArticleID">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td class="text-center">@item.DateCreated.ToShortDateString()</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.IsPublished)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Featured)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Views)</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.ArticleID">Edit</a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.ArticleID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>@Model[0].Category.Name Articles</h1>

    <div class="articles container">
        @foreach (var item in Model)
        {
            <div class="article-tile-container">
                <div class="article-tile-content">
                    <a asp-action="Details" asp-route-id="@item.ArticleID">
                        <div class="article-tile-title">@item.Title</div>
                        @*<div class="article-tile-preview">@item.Body.Substring(0, 150)...</div>*@
                        <div class="article-tile-date">@item.PublishDate.ToShortDateString()</div>
                    </a>
                </div>
            </div>
        }
    </div>
}
