@model NWEEI.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="custom-breadcrumb">
    <a asp-action="Manage">
        <span class="breadcrumb-icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <span class="breadcrumb-name">Back to Articles</span>
    </a>
</div>

<div>
    <!-- article header: title, publish date, edit option -->
    <div>
        <div><h1>@Model.Title</h1></div>

        <div class="content-header">
            <!-- admin edit button -->

            @if (User.IsInRole("Admin"))
            {
                <span class="admin-action-button btn btn-primary">
                    <a asp-action="Edit" asp-route-id="@Model.ArticleID">Edit Article</a>
                </span>
            }


            <!-- category and publish date -->
            <span>
                <i>Category: @Model.Category.Name</i>
                <br />
                <i>Published on @Model.PublishDate.ToShortDateString()</i>
            </span>
        </div>

    </div>

    <hr />

    <!-- article body -->
    <div class="article-body">
        @Html.Raw(Model.Body)
    </div>
</div>
