@model NWEEI.Models.Organization

@{
    ViewData [ "Title" ] = "Create";
}

<h1>Add an Organization</h1>
<hr />
<div class="row">
    <div class="col-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label">Organization Name</label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <!-- rich text editor for organization description -->
            <div class="form-group">
                <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
                <script type="text/javascript" src="/richtexteditor/rte.js"></script>
                <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
                <script type="text/javascript" src="/rte-upload.js"></script>
                <label asp-for="@Model.Description" class="control-label"></label>
                <!-- rich text editor with custom validation -->
                <input asp-for="@Model.Description" name="htmlcode" id="inp_htmlcode" class="form-control" type="text" style="visibility:hidden; position:absolute;" data-val="true" data-val-required="Please enter text for the organization description." />
                <div id="div_editor1" class="richtexteditor" style="width: 960px;margin:0 auto;"></div>
                <script>
                    var editor1 = new RichTextEditor(document.getElementById("div_editor1"));
                    editor1.setHTML(document.getElementById("inp_htmlcode").value)
                    editor1.attachEvent("change", function () {
                        document.getElementById("inp_htmlcode").value = editor1.getHTMLCode();
                    });
                </script>
                <!-- validation output -->
                <span data-valmsg-for="htmlcode" data-valmsg-replace="true" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="@Model.WebsiteURL" class="control-label"></label>
                    <input asp-for="@Model.WebsiteURL" class="form-control" />
                    <span asp-validation-for="@Model.WebsiteURL" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="@Model.ImageURL" class="control-label"></label>
                    <input asp-for="@Model.ImageURL" class="form-control" />
                    <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <button data-btn-form-create></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );} 
}

