@model NWEEI.Models.Organization

@{
    ViewData["Title"] = Model.Name;
}

<div class="custom-breadcrumb">
    <a asp-controller="Resources" asp-action="IndustryAssociations">
        <span class="breadcrumb-icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
        <span class="breadcrumb-name">Back to Industry Associations</span>
    </a>
</div>

<div>
    <div class="content-header">

        <!-- org logo and name -->
        <div class="org-header">
            <div class="org-details-logo">
                <img src="@Model.ImageURL" />
            </div>

            <h1>@Model.Name</h1>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <span class="admin-action-button btn btn-primary">
                <a asp-action="Edit" asp-route-id="@Model.OrganizationID">Edit Organization</a>
            </span>
        }
    </div>

    <hr />

    <!-- org description -->
    <div>
        @Html.Raw(Model.Description)
    </div>

    <!-- website button -->
    <div class="button-group row">
        <a href="@Model.WebsiteURL" class="btn btn-primary">Visit Website</a>
    </div>

</div>
