@model IEnumerable<NWEEI.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Organizations</h1>

<p>
    <a data-btn-create asp-action="Create"> Add an Organization</a>
</p>
<table data-index-table>
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor( model => model.Name )
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Organization organization in Model) {
        <tr>
            <td>
                @organization.OrganizationID
            </td>
            <td>
                @Html.DisplayFor(modelItem => organization.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@organization.OrganizationID">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@organization.OrganizationID">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@organization.OrganizationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
