@model NWEEI.Models.Category

@{
    ViewData["Title"] = "Delete";
}

@if (Model.Articles.Count > 0)
{
    <h1>Can't delete category "@Model.Name"</h1>

    <div>
        <p>This category can't be deleted because there are @Model.Articles.Count articles associated with it. </p>
        <a asp-controller="Article" asp-action="ByCategory" asp-route-categoryID="@Model.CategoryID">View Articles</a>
        <hr />
        <a asp-action="Index">Back to Categories</a>
    </div>
}

else
{
    <h1>Delete "@Model.Name"</h1>

    <h3>Are you sure you want to delete this category?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CategoryID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to Categories</a>
        </form>
    </div>
}
